body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #8a8a8a;
  padding: 2px;
  text-align: left;
  font-size: 10px;
  color: white;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 10;
  background:  #F7FAFF;
  width: 90%;
  border: 2;
  margin: 10 10 10px;
  padding: 6px;
  box-sizing: border-box;
  border: 1px groove solid;
  border-radius: 6px;
  font-size: 14px;

}
.login-page {
  width: 350px;
  padding: 4% 0 0;
  margin: auto;
}  
.button {
  background-color: #1b3622;
  border: none;
  color: white;
  padding: 8px 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 9px;
  font-size: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8a8a8a;
   color: white;
   text-align:center;
   font-size: 13px;
}
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  margin: -76px 0 0 -76px;
  border: 16px solid #164778;
  border-radius: 50%;
  border-top: 16px solid #ff8c1a;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}